<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfSimplePagePlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>Enable managing static pages with symfony</summary>
  <description>Enable managing static pages with symfony</description>
  <lead>
    <name>masao maeda</name>
    <user>masao maeda</user>
    <email>brt.river@gmail.com</email>
    <active>yes</active>
  </lead>
  <developer>
    <name>vasil g</name>
    <user>basos</user>
    <email>noxelia@gmail.com</email>
    <active>yes</active>
   </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.0.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
  <release>
   <version>
    <release>1.0.3</release>
    <api>1.0.0</api>
   </version>
   <stability>
    <release>stable</release>
    <api>stable</api>
   </stability>
   <license uri="http://www.symfony-project.com/license">MIT license</license>
   <license>MIT</license>
   <date>2010-03-15</date>
   <notes>* basos: added a new component was introduced so static content can be embeded to other pages</notes>
  </release>
  <release>
   <version>
    <release>1.0.2</release>
    <api>1.0.0</api>
   </version>
   <stability>
    <release>stable</release>
    <api>stable</api>
   </stability>
   <license uri="http://www.symfony-project.com/license">MIT license</license>
   <license>MIT</license>
   <date>2009-11-12</date>
   <notes>* basos: Add i18n (optional) support</notes>
  </release>
  </changelog>
</package>
